<table style="background-color: #e7505a;"> 
     <tr class="step">
         <td ><em>Test Method Name</td>
         <td colspan="2"><em>$className.$testName</td>
         
     </tr>

 <tr class="step">
        <td>$command</td>
        <td><em>$description</em></td>
        <td> <br/> &nbsp;</td>
    </tr>
