<table class=".bootstrap-table"> 
     <tr class="step">
         <td colspan="3"><em>$className.$testName</td>
         
     </tr>

 <tr class="step">
        <td>$command</td>
        <td><em>$description</em></td>
        <td> <br/> &nbsp;</td>
    </tr>
