<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation" verbose="1"  thread-count="1">
    <!--
    How to run using testng from command prompt
    java -cp "C:\Software\selenium\selenium-java-2.53.1.jar;C:\Software\selenium\realReport_1.0.jar;C:\Projects\Automation\Automation\target\Automation-0.0.1-SNAPSHOT-jar-with-dependencies.jar;C:\Software\selenium\testng-6.9.10.jar;C:\Software\selenium\selenium-server-standalone-2.53.1.jar" org.testng.TestNG testng.xml -d test-output\
    -->
    <parameter name="appURL" value="https://localhost:9000/"/>
    <parameter name="browserType" value="chrome"/>


    <listeners>

        <listener class-name="org.testng.reporters.EmailableReporter2"/>
        <listener class-name="org.testng.reporters.SuiteHTMLReporter"/>
        <listener class-name="org.testng.reporters.TestHTMLReporter"/>
        <listener class-name="com.automation.ui.base.common.testnglisteners.InvokeMethodAdapter"/>
        <listener class-name="com.automation.ui.base.common.report.listener.RealTimeTestResultListener"/>
    </listeners>

    <test name="Automation" preserve-order="true">
      <!-- <groups>
            <define name="other">
                <include name="base"/>
                <include name="invalidcase"/>
            </define>
            <define name="running">
                <include name="validcase"/>
            </define>

            <run>
             </run>
        </groups>
        -->


        <!-- START GITHUB   -->
        <!-- sample testing part-->
        <!--
                <packages>
                    <package name="com.automation.ui.githubtesting.testcases.home"/>
                </packages>

                <classes>
                <class name="com.automation.ui.githubtesting.testcases.home.HomePageTest">
                <methods>
                    <include name="launchLogin"/>
                    <include name="launchHomePage"/>
                    <include name="addRepo"/>
                </methods>
                    </class>

                </classes>
        -->
        <!-- END  GITHUB  -->

        <!-- START CONNECTED-->


       <!-- <packages>

             <package name="com.automation.ui.connected.testcases.login"/>
             <package name="com.automation.ui.connected.testcases.home"/>
             <package name="com.automation.ui.connected.testcases.serverdetails"/>
             <package name="com.automation.ui.connected.testcases.dashboardviewtest"/>
             <package name="com.automation.ui.connected.testcases.serverdetails.filter"/>

         </packages>
         -->


        <classes>
            <class name="com.automation.ui.connected.testcases.login.LoginTest">
                <methods>
                    <exclude name="verifyInValidUserNullPassword"/> <!-- priority 4 -->
                    <exclude name="verifyValidUserNullPassword"/> <!-- priority 3 -->
                    <exclude name="verifyInValidUserInvalidPassword"/> <!-- priority 2 -->
                    <exclude name="verifyNullUserNullPassword"/> <!-- priority 1 -->
                    <include name="verifyValidLogin"/> <!-- priority 0 -->
                </methods>
            </class>


            <class name="com.automation.ui.connected.testcases.home.HomePageTest">
              <methods>
                    <include name="launchHomePage"/> <!-- priority 0 -->
                    <include name="addConnection"/> <!-- priority 1 -->
                </methods>
            </class>



            <class name="com.automation.ui.connected.testcases.serverdetails.manage.AddServerDetailsPageTest">
                <methods>
                    <include name="provideAllServerDetails"/> <!-- priority 0 -->
                    <include name="clearCustomerNameTest"/> <!-- priority 2 -->
                    <include name="addCustomerNameTest"/> <!-- priority 3 -->
                    <exclude name="provideServerDetailsNextTest"/> <!-- priority 1 -->
                    <exclude name="clearSiteNameTest"/> <!-- priority 4 -->
                    <exclude name="provideServerDetailsCancelTest"/> <!-- priority 6 -->
                    <exclude name="provideConnectionType"/> <!-- priority 5 -->
               </methods>
            </class>

            <class name="com.automation.ui.connected.testcases.dashboardviewtest.UAConnectionDetailsPageTest">
                <methods >
                    <include name="dcConnectionDropdownTest"/>  <!-- priority 0 -->
                    <include name="dcConnectionPauseTest"/>  <!-- priority 1 -->
                    <exclude name="dcConnectionEditTest"/>  <!-- priority 2-->
                    <exclude name="dcConnectionRemoveTest"/>  <!-- priority 3 -->
                    <exclude name="dcConnectionDetailsTest"/>    <!-- priority 4 -->
                    <exclude name="dcConnectionDetailsEditTest"/> <!-- priority 5 -->
                    <exclude name="dcConnectionDetailsEdit_Tabs"/> <!-- priority 6 -->
              </methods>
            </class>



            <class name="com.automation.ui.connected.testcases.serverdetails.filter.FilterDetailsPageTest">
                <methods>
                    <exclude name="filterChangeFilters"/> <!-- priority 1 -->
                    <include name="filterListFilter"/> <!-- priority 2 -->
                    <include name="filterAllTag"/><!-- priority 3 -->
                    <include name="filterAseetTreeTag"/> <!-- priority 0 -->
                </methods>
            </class>

            <class name="com.automation.ui.connected.testcases.globalnav.GlobalNavigationPageTest">
                <methods>
                    <include name="cloudDataButton"/> <!-- priority 0 -->
                    <include name="logout"/> <!-- priority 1 -->
                </methods>
            </class>

        </classes>

        <!-- END CONNECTED -->

    </test>

</suite>
